.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  background-color: mediumvioletred;
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}
/* Top rotates, moves down & left*/
@keyframes top {
  from {
    transform: rotate(0%) translateX(0px) translateY(0px);
  }
  to {
    transform:  rotate(45deg) translateX(24px) translateY(24px);

  }
}
/* Middle disappears*/
@keyframes middle {
  from {}
  to {}
}
/* Bottom rotates, moves up & left*/
@keyframes bottom {
  from {
    transform: rotate(0%) translateX(0px) translateY(0px);
  }
  to {
    transform: rotate(-45deg) translateX(24px) translateY(-24px);
  }
}